body{
    margin: 0px;
}

#tablero{
    background-color:aquamarine;
    width: 100%;
    height: 600px;
    position: relative;
}

#coche1{
    width: 120px;
    height: 50px;
    position: absolute;
    bottom: 10px;
}

#coche1 img{
    width: 100%;
    height: 100%;
    bottom: 10px;
    z-index: 1;
    left: 20px;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/images/backgroundBosque.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: movimientoBackground 5s linear infinite;
}

.cocheSalta{
    animation: coche1 1s linear;
}
@keyframes cocheSalta{
    0%{
        bottom: 190px;
    }
    45%, 55%{
        bottom: 300px;
    }  
}

@keyframes movimientoBackground{
    from{
        background-position: 0 0;
    }
    to {
       background-position: 10000px 0;
    }
}
